/* Centrado con flexbox */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: url('your-image.jpg') no-repeat center center fixed;
  background-size: cover;
}

.register-container {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-container h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  /* Color del h2 */
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.form-control {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}

.form-control::placeholder {
  color: #fff;
}

.btn-primary {
  width: 100%;
  background-color: rgb(255, 115, 0);
  border-color: rgb(255, 115, 0);
  font-size: 16px !important;
  /* Tamaño de fuente ajustado */
  padding: 10px !important;
  /* Ajuste para dar más espacio interno */
  white-space: nowrap;
  /* Previene que el texto se divida en dos líneas */
  min-width: 150px;
}

.btn-primary:hover {
  background-color: rgba(255, 115, 0, 0.8);
  border-color: rgba(255, 115, 0, 0.8);
}

.Volver-link {
  text-align: center;
  margin-top: 20px;
}

.Volver-link a {
  color: rgb(255, 115, 0);
  /* Mismo color del botón y h2 */
  text-decoration: none;
}

.Volver -link a:hover {
  text-decoration: underline;
}